.swiper-pagination-bullet {
    width: 15px; 
    height: 15px; 
    background-image: url('/paginationIcon.svg');
    background-size: cover; 
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-image: url('/paginationIconActive.svg');
    background-color: transparent !important;
    border: none !important; 
  }
  
  .swiper-pagination{
    padding-bottom: 48px;
  }


  .tooltip:before {
    content: "";
    position: absolute;
    left: 20%;
    top: 62%;
    border-top: 20px solid #B9FF66;
    border-right: 20px solid transparent;
  }